/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 600px) { 
    body {
        background-color: #cec1e7;
    }

    .container {
        font-family: 'Montserrat', sans-serif;
        color:#486B38;
        text-align: center;
        padding-top: 30%;
    }  

    h1 {
        font-size: 30px;
    }

    .button {
        text-align: center;
        margin-top: 10%;
    }

    input {
        /* position: relative; */
        /* display: inline-block; */
        font-family: 'Montserrat', sans-serif;
        color: #cec1e7;
        font-size: 10px;
        box-sizing: border-box;
        /* transition: .5s; */
    }

    input[type="text"] {
        background:pink;
        width: 200px;
        height: 40px;
        border: none;
        outline: none;
        padding: 0;
        border-radius: 10px;
    }

    input[type="submit"] {
        position: relative;
        border-radius: 10px;
        width: 100px;
        height: 40px;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: #486B38;
    }


    img {
        height: auto;
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 600px) { 
    body {
        background-color: #cec1e7;
    }

    .container {
        font-family: 'Montserrat', sans-serif;
        color:#486B38;
        text-align: center;
        padding-top: 10%;
    }

    .button {
        background-color: #486B38;
        border-radius: 10px;
        font-family: 'Montserrat', sans-serif;
        color: #cec1e7;
        font-size: 20px;
        margin: 10px;
        width: 220px;
        height: 45px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    body {
        background-color: #cec1e7;
    }

    .container {
        font-family: 'Montserrat', sans-serif;
        color:#486B38;
        text-align: center;
        padding-top: 10%;
    }

    .button {
        background-color: #486B38;
        border-radius: 10px;
        font-family: 'Montserrat', sans-serif;
        color: #cec1e7;
        font-size: 20px;
        margin: 15px;
        margin-top: 5%;
        width: 220px;
        height: 45px; 
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    body {
        background-color:#cec1e7;
    }

    .container {
        font-family: 'Montserrat', sans-serif;
        color:#486B38;
        text-align: center;
        padding-top: 10%;
    }

    .button {
        background-color: #486B38;
        border-radius: 10px;
        font-family: 'Montserrat', sans-serif;
        color: #cec1e7;
        font-size: 20px;
        margin: 15px;
        margin-top: 5%;
        width: 220px;
        height: 45px; 
    }

    img {
        height: auto;
        max-width: 100%;
        width: auto;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    body {
        background-color: #cec1e7;
    }

    .container {
        font-family: 'Montserrat', sans-serif;
        color:#486B38;
        text-align: center;
        padding-top: 2%;
    }

    .button {
        background-color: #486B38;
        border-radius: 10px;
        font-family: 'Montserrat', sans-serif;
        color: #cec1e7;
        font-size: 20px;
        margin: 10px;
        width: 220px;
        height: 45px;
    }
}
