/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 600px) { 
    body {
        background-color: #cec1e7;
        margin: 0;
        overflow: hidden;
    }

    .container {
        font-family: 'Montserrat', sans-serif;
        color:#486B38;
        text-align: center;
    }  

    h1 {
        margin-top: 30%;
        font-size: 27px;
        line-height: 0;
        font-weight: 0;
    }

    h2 {
        text-align: center;
        width: 250px;
        display: inline-block;
        margin-top: 10%;
        line-height: .55cm;
        font-family: 'Montserrat', sans-serif;
        color: #486B38;
        font-size: .32cm;
    }

    .button {
        text-align: center;
    }

    .back {
        background-color:#486B38;
        font-family: 'Montserrat', sans-serif;
        color: #cec1e7;
        border-radius: 10px;
        margin: 5%;

    }

    input {
        /* position: relative; */
        /* display: inline-block; */
        font-family: 'Montserrat', sans-serif;
        color: #cec1e7;
        font-size: 10px;
        box-sizing: border-box;
        /* transition: .5s; */
    }

    input[type="text"] {
        background:pink;
        width: 235px;
        height: 45px;
        border: none;
        outline: none;
        padding: 0;
        border-radius: 10px 0 0 10px;
        font-family: 'Montserrat', sans-serif;
        font-size: small;
    }

    input[type="submit"] {
        position: relative;
        border-radius: 0 10px 10px 0;
        left: -7px;
        width: 75px;
        height: 45px;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: small;
        font-family: 'Montserrat', sans-serif;
        background-color: #486B38;
    }


    img {
        height: auto;
        max-width: 80%;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 600px) { 
    body {
        background-color: #cec1e7;
    }

    .container {
        font-family: 'Montserrat', sans-serif;
        color:#486B38;
        text-align: center;
        padding-top: 10%;
    }

    .button {
        background-color: #486B38;
        border-radius: 10px;
        font-family: 'Montserrat', sans-serif;
        color: #cec1e7;
        font-size: 20px;
        margin: 10px;
        width: 220px;
        height: 45px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    body {
        background-color: #cec1e7;
    }

    .container {
        font-family: 'Montserrat', sans-serif;
        color:#486B38;
        text-align: center;
        padding-top: 10%;
    }

    .button {
        background-color: #486B38;
        border-radius: 10px;
        font-family: 'Montserrat', sans-serif;
        color: #cec1e7;
        font-size: 20px;
        margin: 15px;
        margin-top: 5%;
        width: 220px;
        height: 45px; 
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    body {
        background-color: #cec1e7;
        overflow: hidden;
    }

    .container {
        font-family: 'Montserrat', sans-serif;
        color:#486B38;
        text-align: center;
        padding-top: 20%;
    }  

    h1 {
        font-size: small;
    }

    h2 {
        text-align: center;
        width: 250px;
        display: inline-block;
        margin-top: 10%;
        line-height: .55cm;
        font-family: 'Montserrat', sans-serif;
        color: #486B38;
        font-size: .32cm;
    }

    .button {
        text-align: center;
    }

    .back {
        background-color:#486B38;
        font-family: 'Montserrat', sans-serif;
        color: #cec1e7;
        border-radius: 10px;
        margin: 5%;

    }

    input {
        /* position: relative; */
        /* display: inline-block; */
        font-family: 'Montserrat', sans-serif;
        color: #cec1e7;
        font-size: 10px;
        box-sizing: border-box;
        /* transition: .5s; */
    }

    input[type="text"] {
        background:pink;
        width: 235px;
        height: 45px;
        border: none;
        outline: none;
        padding: 0;
        border-radius: 10px 0 0 10px;
        font-family: 'Montserrat', sans-serif;
        font-size: small;
    }

    input[type="submit"] {
        position: relative;
        border-radius: 0 10px 10px 0;
        left: -7px;
        width: 75px;
        height: 45px;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: small;
        font-family: 'Montserrat', sans-serif;
        background-color: #486B38;
    }


    img {
        height: auto;
        max-width: 80%;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    body {
        background-color: #cec1e7;
        margin: 0;
        overflow: hidden;
    }

    .container {
        font-family: 'Montserrat', sans-serif;
        color:#486B38;
        text-align: center;
    }  

    h1 {
        margin-top: 5%;
        font-size: 20px;
        line-height: 0;
        font-weight: 0;
    }

    h2 {
        text-align: center;
        width: 250px;
        display: inline-block;
        margin-top: 10%;
        line-height: .55cm;
        font-family: 'Montserrat', sans-serif;
        color: #486B38;
        font-size: .32cm;
    }

    .button {
        text-align: center;
    }

    .back {
        background-color:#486B38;
        font-family: 'Montserrat', sans-serif;
        color: #cec1e7;
        border-radius: 10px;
        margin: 5%;

    }

    input {
        /* position: relative; */
        /* display: inline-block; */
        font-family: 'Montserrat', sans-serif;
        color: #cec1e7;
        font-size: 10px;
        box-sizing: border-box;
        /* transition: .5s; */
    }

    input[type="text"] {
        background:pink;
        width: 235px;
        height: 45px;
        border: none;
        outline: none;
        padding: 0;
        border-radius: 10px 0 0 10px;
        font-family: 'Montserrat', sans-serif;
        font-size: small;
    }

    input[type="submit"] {
        position: relative;
        border-radius: 0 10px 10px 0;
        left: -7px;
        width: 75px;
        height: 45px;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: small;
        font-family: 'Montserrat', sans-serif;
        background-color: #486B38;
    }


    img {
        height: auto;
        max-width: 80%;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10%;
    }
