.gift-img {
    width: 70%;
    height: 400px;
    padding-bottom: 1rem;
}

.column {
    float: left;
    width: 50%;
    text-align: center;
}

.product-detail {
    font-size: 1.7rem;
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .header {
        padding: 4rem 0 0 0;
        font-size: xxx-large;
    }
    
    .gift-img {
        width: 70%;
        height: auto;
        padding-top: 0.5rem;
    }

    .column {
        float: none;
        width: 100%;
    }

    .product-detail {
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .header {
        padding: 3rem 0 0 0;
        font-size: xx-large;
    }
    
    .gift-img {
        width: 40%;
    }
}