* {
    background-color: aliceblue;
    color: green;
}


.header {
    padding: 1rem 8rem 2rem 8rem;
    text-align: center;
}

.bg {
    text-align: center;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button{
    background-color: green;
    color: peachpuff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 0.5rem;
    width: 200px;
    height: 6vh;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .bg {
        width: 95%;
        padding-bottom: 1rem;
    }

    h1 {
        font-size: 3rem !important;
    }
}


@media screen and (max-width: 600px) {
    .bg {
        width: 95%;
        padding-bottom: 0;
    }

    .button{
        font-size: 0.8rem;
        width: 120px;
        height: 38px;
    }

    h1 {
        font-size: 2rem !important;
    }
}

