/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    body {
        background-color: #cec1e7;
        margin: 0;
        overflow: hidden;
    }

    .container {
        font-family: 'Montserrat', sans-serif;
        color:#486B38;
        text-align: center;
        display: block;
    }  

    h1 {
        margin-top: 15%;
        font-size: 27px;
        line-height: 0;
        font-weight: 0;
    }

    h2 {
        text-align: center;
        width: 200px;
        display: inline-block;
        line-height: .50cm;
        margin-top: 2%;
        font-family: 'Montserrat', sans-serif;
        color: #486B38;
        font-size: .32cm;
    }

    .button {
        text-align: center;
        margin-top: 2%;
        border-radius: 10px;
        background-color: #486B38;
        text-align: center;
        color: #cec1e7;
    }

    img {
        max-height: 45%;
        max-width: 45%;
        margin-top: 8.5%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    body {
        background-color: #cec1e7;
        margin: 0;
        overflow: hidden;
    }

    .container {
        font-family: 'Montserrat', sans-serif;
        color:#486B38;
        text-align: center;
        display: block;
    }  

    h1 {
        margin-top: 15%;
        font-size: 27px;
        line-height: 0;
        font-weight: 0;
    }

    h2 {
        text-align: center;
        width: 200px;
        display: inline-block;
        line-height: .50cm;
        margin-top: 2%;
        font-family: 'Montserrat', sans-serif;
        color: #486B38;
        font-size: .32cm;
    }

    .button {
        text-align: center;
        margin-top: 3%;
        border-radius: 10px;
        background-color: #486B38;
        text-align: center;
        color: #cec1e7;
    }

    img {
        max-height: 45%;
        max-width: 45%;
        margin-top: 9%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    body {
        background-color: #cec1e7;
        margin: 0;
        overflow: hidden;
    }

    .container {
        font-family: 'Montserrat', sans-serif;
        color:#486B38;
        text-align: center;
        display: block;
    }  

    h1 {
        margin-top: 15%;
        font-size: 35px;
        line-height: 0;
        font-weight: 0;
    }

    h2 {
        text-align: center;
        width: 250px;
        display: inline-block;
        line-height: .65cm;
        margin-top: 2%;
        font-family: 'Montserrat', sans-serif;
        color: #486B38;
        font-size: .45cm;
    }

    .button {
        text-align: center;
        margin-top: 3%;
        border-radius: 10px;
        background-color: #486B38;
        text-align: center;
        color: #cec1e7;
    }

    img {
        max-height: 45%;
        max-width: 45%;
        margin-top: 8%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    body {
        background-color: #cec1e7;
        margin: 0;
        overflow: hidden;
    }

    .container {
        font-family: 'Montserrat', sans-serif;
        color:#486B38;
        text-align: center;
        display: block;
    }  

    h1 {
        margin-top: 15%;
        font-size: 45px;
        line-height: 0;
        font-weight: 0;
    }

    h2 {
        text-align: center;
        width: 350px;
        display: inline-block;
        line-height: .9cm;
        margin-top: 2%;
        font-family: 'Montserrat', sans-serif;
        color: #486B38;
        font-size: .60cm;
    }

    .button {
        text-align: center;
        margin-top: 3%;
        border-radius: 10px;
        background-color: #486B38;
        text-align: center;
        color: #cec1e7;
        font-size: large;
        width: 90px;
        height: 45px;
    }

    img {
        max-height: 45%;
        max-width: 45%;
        margin-top: 9%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    body {
        background-color: #cec1e7;
        margin: 0;
        overflow: hidden;
    }

    .container {
        font-family: 'Montserrat', sans-serif;
        color:#486B38;
        text-align: center;
        display: block;
    }  

    h1 {
        margin-top: 8%;
        font-size: 45px;
        line-height: 0;
        font-weight: 0;
    }

    h2 {
        text-align: center;
        width: 500px;
        display: inline-block;
        line-height: .75cm;
        margin-top: 2%;
        font-family: 'Montserrat', sans-serif;
        color: #486B38;
        font-size: .50cm;
    }

    .button {
        text-align: center;
        margin-top: 3%;
        border-radius: 10px;
        background-color: #486B38;
        text-align: center;
        color: #cec1e7;
    }

    img {
        height: 300px;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        writing-mode: horizontal-tb;    
    }
}