@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Varela&display=swap');            
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Seaweed+Script&family=Varela&display=swap');


/* * {
    margin: 0;
    padding: 0;
    background-color: #cec1e7;
}

div.center {
    font-family: 'Montserrat', sans-serif;
    font-size:10vw;
    margin: 20px;
    text-align: center;
    color:#486B38
}

.p1 {
    text-align: center;
    color:#486B38;
    font-family: 'Seaweed Script', cursive;
}

.p2 {
    font-style: italic;
}

.p3 {
    font-size: 35px;
}

img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: auto;
    height: auto;
}

button {
    writing-mode: horizontal-tb;
    font-family: 'Montserrat', sans-serif;
    color:#cec1e7;
    background-color: #486B38;
    font-size: 13px;
    width: 130px;
    height: 35px;
    border-radius:10px;
    margin: auto;
    margin-top: 20px;
}

div.container {
    text-align: center;
} */ 

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    body {
        background-color: #cec1e7;
    }

    .container {
        color: red;
        font-family: 'Montserrat', sans-serif;
        color:#486B38;
        text-align: center;
        padding-top: 10%;
    }    
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767.98px) { 
    body {
        background-color: #cec1e7;
    }

    .container {
        color: red;
        font-family: 'Montserrat', sans-serif;
        color:#486B38;
        text-align: center;
        padding-top: 10%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 991.98px) { 
    body {
        background-color: #cec1e7;
    }

    .container {
        color: red;
        font-family: 'Montserrat', sans-serif;
        color:#486B38;
        text-align: center;
        padding-top: 10%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 1199.98px) { 
    body {
        background-color:#cec1e7;
    }

    .container {
        color: red;
        font-family: 'Montserrat', sans-serif;
        color:#486B38;
        text-align: center;
        padding-top: 10%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    body {
        background-color: #cec1e7;
    }

    .container {
        color: red;
        font-family: 'Montserrat', sans-serif;
        color:#486B38;
        text-align: center;
        padding-top: 4%;
    }

    img.displayed {
        display: block;
        width: auto;
        height: auto;
    }
}
