.reception-bg {
    padding: 2rem;
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    font-size: 1.2rem !important;
    padding: 2rem;
}

input {
    position: relative; 
    display: inline-block;
    color: #cec1e7;
    box-sizing: border-box;
}

input {
    position: relative; 
    display: inline-block;
    color: #cec1e7;
    box-sizing: border-box;
}

input[type="text"] {
    background:pink;
    width: 25vw;
    height: 5vh;
    border: none;
    outline: none;
    padding: 0;
    border-radius: 10px 0 0 10px;
    color: #486B38;
}

input[type="submit"] {
    position: relative;
    border-radius: 0 10px 10px 0;
    left: -7px;
    width: 100px;
    height: 5vh;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #486B38;
}

.script {
    text-align: center;
    padding: 2rem 2rem 0 2rem
}

p {
    margin: auto;
    width: 500px;
    font-size: 1.2vw !important;
}

@media screen and (max-width: 1024px) { 
    .reception-bg {
        width: 75%;
        padding: 1rem;
    }

    .btn {
        font-size: 1.5rem !important;
    }

    input[type="text"] {
        width: 50vw;
        height: 5vh;
    }

    input[type="submit"] {
        width: 15vw;
        height: 5vh;
    }

    .script {
        padding: 1.5rem;
        text-align: center;
    }

    p {
        margin: auto;
        width: 55vw;
        font-size: 2vh !important;

    }
}

@media screen and (max-width: 600px) {
    .btn {
        font-size: 0.7rem !important;
        padding: 1rem;
    }

    input[type="text"] {
        width: 50vw;
        height: 6.5vh;
    }

    input[type="submit"] {
        width: 22vw;
        height: 6.5vh;
    }

    p {
        font-size: 2.2vh;
    }
}
