.header {
    padding-top: 4rem;
}
.bg {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5rem;
}

input {
    display: inline-block;
    color: #cec1e7;
    box-sizing: border-box;
}

.input-txt {
    background:pink;
    border: none;
    outline: none;
    padding: 0.5rem 4rem 0.5rem 4rem;
    border-radius: 10px 0 0 10px;
    color: #486B38;
    width: max-content;
}

.input-sm {
    position: relative;
    border-radius: 0 10px 10px 0;
    left: -7px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #486B38;
}

.innerContainer{
    text-align: center;
    padding: 2rem 0 2rem 0;
}

.script {
    margin: auto;
    width: 550px;
    font-size: 1.2rem;
}

@media screen and (max-width: 1024px) { 
    .bg {
        width: 40%;
    }

    .innerContainer {
        padding: 1.5rem 0 1.5rem 0;
    }

    .input-txt {
        padding: 0.5rem 3rem 0.5rem 3rem;
    }
    
    .script {
        margin: auto;
        width: 350px;
        font-size: 1rem;
    }

}

@media screen and (max-width: 600px) {
    .bg {
        width: 60%;
    }

    .innerContainer {
        padding: 1rem 0 1rem 0;
    }

    .input-txt {
        padding: 0.3rem 0.8rem 0.3rem 0.8rem;
    }
    .input-sm {
        padding: 0.3rem 0.8rem 0.3rem 0.8rem;
    }
    .script {
        width: 200px;
        font-size: 0.7rem;
    }
}
